

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif !important;
  font-size: 11px;
}


.container {
  padding: 18px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.col { 
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

label {
  font-size: 11px;
  letter-spacing: 0.1px;
  font-weight: 600;
  color: #191919;
}

input[type=number] {
  border: none;
  color: black;
  padding: 8px;
  width: 56px;
}

input[type=number]:focus {
  border: none;
}

input[type=number]:focus-visible, select:focus-visible  {
  outline: transparent auto 0px;
  outline-color: transparent;
  outline-style: auto;
  outline-width: 0px;
}

label.input {
  display: flex;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 1px transparent;
  border-radius: 2px;
}

label.input:hover {
  border: solid 1px #e6e6e6;
}

label.input:focus-within {
  border: solid 1px var(--blue);
}

.input .icon {
  position: relative !important;
}





.icon-button-padding {
  padding: 0 var(--size-xsmall) 0 8px !important;
} 

.colorSelect {
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 1px transparent;
  padding: 0 8px;
}

.colorSelect:hover {
  background-color: #f5f5f5;
}

.colorBox {
  width: 16px;
  height: 16px;
  border-radius: 100px;
}

.orange-fuzz { background-color: #F15623; }
.purple-noise { background-color: #460073; }
.reverb-blue { background-color: #704CFE; }
.vanila-phaser { background-color: #ECE3D0; }
.gold-tuner { background-color: #CD9E3C; }
.black { background-color: #000000; }

select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  border-radius: 4px;
  padding: 8px;
  border: none;
  background-color: transparent;

  font-family: Inter, sans-serif;
  font-size: 11px;
}


.p5Graph {

}